<!DOCTYPE html>
<html>
<head>
    <%= layoutHeader %>
</head>
<body>
    <div id="app">
        <%= title %>
        <%= indexScript %>
    </div>
</body>
    <script type="text/javascript" src="<%= indexScript %>"></script>
</html>