<!DOCTYPE html>
<html>
  <head>
    <%= layout.header %>
  </head>
  <body>
    <noscript style="background-color: red;">您的浏览器不支持javascript脚本,请重新开启或者更换浏览器</noscript>
    <div id="app"></div>
    <%= script %>
  </body>
</html>
